body {
    background: #c4e0ec;
    background: linear-gradient(0deg, #c4e0ec 0%, #ffffff 100%);
    color: black;    
}

table {
    table-layout: fixed;
}

.close {
    text-shadow: none;
}

.remove-recipe-btn {
    right: 0;
}